.Profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  place-items: center;
  max-width: 300px;
 
}
.profile-img {
  
  padding: 1rem 1rem 1rem 0rem;
}
.profile-img img {
  border-radius: 50%;
}

.profile-bio p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: rgb(157, 154, 160);
}
.profile-bio h3 {
  color: rgb(196, 197, 196);
  line-height: 1.8rem;
  font-weight: 400;
}
