main {
  position: relative;
  display: grid;
  height: 97%;
  grid-template-columns: 100px auto;
  padding-top: 1rem;
}
.main-section {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.left-section {
  display: flex;
  flex-direction: column;
}
