main {
  position: relative;
  display: grid;
  height: 97%;
  grid-template-columns: 100px auto;
  padding-top: 1rem;
}

.first-row {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  padding: 0rem 1rem;
  gap: 3rem;
}

.second-row,
.third-row {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  margin: 1rem 0rem 2rem 0rem;
}
